appdirs==1.4.4
atomicwrites==1.4.0
jsonpointer==2.1
lxml==5.2.1
matplotlib==3.9.2
mkl-service==2.4.0
ollama==0.4.7
protobuf==4.25.3
pyasn1-modules==0.2.8
pydantic==2.11.3
pydantic_core==2.33.1
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==305.1
setuptools==75.1.0
typing-inspection==0.4.0
typing_extensions==4.13.2
wheel==0.44.0
